body {
    background-image: url(floralBackground.jpg);
}
.top {
    margin-right: auto;
}
.bottom {
    margin-right: auto;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
}
.bottom input:focus button:focus {
    outline: none;
}
#extension h1 {
    font-family: cursive;
    font-size: 50px;
    margin-left: 20px;
    color: #4B536E;
}
#scary-button {
    width: 130px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    font-family: 'Tangerine', cursive;
    background-color: #D192A9;
    transition: all 0.2s;
    color: white;
    display: inline-block;
    font-size: 25px;
}
#scary-button button:hover {
    background-color: #E3B9CB;
}
#scary-button a{
    outline:none;
}
#extension {
    width: 530px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
#reminder {
    margin-left: 20px;
    width: 240px;
}
.last {
    margin-top: 25px;
}
input {
    margin-right: 10px;
    margin-left: 10px;
}
button[id="scary-button"] {
    outline:none;
}
input[type="text"]{
    outline:none;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #95acfa;
}
input[id="dummy"] {
    outline:none;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #95acfa;
}

.gifs {
    display: flex;
    flex-direction: row;
}

#cat {
    margin: 50px;
    padding-bottom:50px;
}

#heart {
    padding-bottom: 100px;
}